<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AetherNet</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
        <a href="/" class="logo">
            AetherNet
            <span><i class="bx bx-cloud-lightning cloud"></i></span>
        </a>

        <i class="bx bx-menu" id="menu-icon"></i>

        <nav class="navbar">
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}"><i class="bx bx-bar-chart"></i> Dashboard</a>
                <a href="#"><i class="bx bx-user"></i> Welcome, {{ user.username }}</a>
                <a href="{% url 'logout' %}"><i class="bx bx-log-out"></i> Logout</a>
            {% else %}
                <a href="{% url 'login' %}"><i class="bx bx-log-in"></i> Login</a>
                <a href="{% url 'register' %}"><i class="bx bx-user-plus"></i> Register</a>
            {% endif %}
        </nav>
    </header>
    <main class="main">{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; 2025 AetherNet. All rights reserved.</p>
    </footer>
      <script>
        const BASE_URL = window.location.origin;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
  </body>
</html>
